<div class="row">
  <div class="col-lg-6 col-sm-12 col-xs-12">
    {{#if content}}
      <div id="api-_">{{{content}}}</div>
    {{/if}}
  </div>
  <div class="col-lg-6 hidden-md hidden-sm hidden-xs example">
  </div>
</div>
